body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

video {
    width="600"
    height="340"
    display: block;
    margin: 0 auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;

iframe {
     position: absolute;
            bottom: 50px; /* 距离底部50px */
            left: 50%; /* 水平居中起点 */
            transform: translateX(-50%); /* 水平居中调整 */
            border: none;
            width: 600px;
            height:340px; /* 可以根据需要调整高度 */
        }
}
