body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color:green;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

video {
    width="600"
    height="340"
    display: block;
    margin: 0 auto;
}

footer {
   background-color:green;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;

  .video-container {
        position: relative; /* 或者 absolute, fixed, 根据你的布局需要 */
        width: 600px; /* 容器宽度 */
        height: 400px; /* 容器高度 */
        margin: 0 auto; /* 水平居中 */
        margin-top: 1px; /* 距离顶部50px */
    }
    .video-container iframe {
        width: 100%; /* iframe宽度占满容器 */
        height: 100%; /* iframe高度占满容器 */
        border: none; /* 移除边框 */
    }
}
